{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class= "section">
            <a href="{{ url_for('display_customer') }}">Home</a>
        </div>
        <h2>Add Customer to Our Database</h2>
        <form action="" method="post" name="login">
            {{ form.hidden_tag() }}
            <div class="divider"></div>

            <!-- get basic user information -->
            <h3>Basic Information</h3>
            <div class="section">
                <p>
                    Customer first name: <br>
                    {{ form.fname(size = 120) }}<br>
                </p>
                <p>
                    Customer last name: <br>
                    {{ form.lname(size = 120) }}<br>
                </p>
                <p>
                    Company name: <br>
                    {{ form.company(size = 120) }}<br>
                </p>
                <p>
                    Customer email: <br>
                    {{ form.email(size = 120) }}<br>
                </p>
                <p>
                    Customer phone number: <br>
                    {{ form.phone(size = 120) }}<br>
                </p>
            </div>

            <div class="divider"></div>

            <!-- get address information -->
            <h3>Address Information</h3>
            <div class="section">
                <p>
                    Street Address: <br>
                    {{ form.street(size = 120) }}<br>
                </p>
                <p>
                    City: <br>
                    {{ form.city(size = 30) }}<br>
                </p>
                <p>
                    State: <br>
                    {{ form.state(size = 30) }}<br>
                </p>
                <p>
                    Country: <br>
                    {{ form.country(size = 30) }}<br>
                </p>
                <p>
                    Zip Code: <br>
                    {{ form.zip_code(size = 5) }}<br>
                </p>
            </div>
            <p><input type="submit" value="Create Customer"></p>
        </form>
    </div>
</div>
{% endblock %}
