{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Welcome to ACME Aircraft Parts</h1>
        <div class= "section">
            <a href="{{ url_for('create_customer') }}">Add a Customer</a>
        </div>
        <div class="divider"></div>

        <!-- display all customer information -->
        <div class="section">
            <h3>These are all of our awesome customers:</h3>
            <table class="striped">
                <thead>
                    <tr>
                        <th data-field="fname">First Name</th>
                        <th data-field="lname">Last Name</th>
                        <th data-field="company">Company</th>
                        <th data-field="email">Email</th>
                        <th data-field="phone">Phone Number</th>
                        <th data-field="address">Address</th>
                        <th data-field="order">Action</th>
                    </tr>
                </thead>


                {% for customer in customers %}
                <tr>
                    <td>{{ customer['first_name'] }}</td>
                    <td>{{ customer['last_name'] }}</td>
                    <td>{{ customer['company'] }}</td>
                    <td>{{ customer['email'] }}</td>
                    <td>{{ customer['phone'] }}</td>
                    <td>{{ customer['street_address'] ~ ", " ~
                        customer['city'] ~ ", " ~
                        customer['state'] ~ ", " ~
                        customer['country'] ~ ", " ~
                        customer['zip_code']}}
                    </td>
                    <td>
                        <a href="{{ url_for('create_order', customer_id=customer['customer_id']) }}">
                            Create a new Order
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- display all existing orders -->
        <div class="section">
            <h3>Orders from Customers:</h3>

            <table class="striped">
                <thead>
                    <tr>
                        <th data-field="fname">Customer First Name</th>
                        <th data-field="lname">Customer Last Name</th>
                        <th data-field="part">Part Name</th>
                        <th data-field="manufacturer">Manufacturer Name</th>
                    </tr>
                </thead>
                <!-- code to display all user -->

                {% for order in orders %}
                <tr>
                    <td>{{ order['first_name'] }}</td>
                    <td>{{ order['last_name'] }}</td>
                    <td>{{ order['name_of_part'] }}</td>
                    <td>{{ order['manufacturer_of_part'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
