/* Add CSS */
/*font-family: 'Bungee Shade', cursive;
font-family: 'Nothing You Could Do', cursive;*/

#title{
    color: white;
    font-family: 'Bungee Shade', cursive;
}

#welcome{
    color: white;
    font-family: 'Nothing You Could Do', cursive;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ff6d00;
  box-shadow: 0 1px 0 0 #000;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #ff6d00;
  box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #ff6d00;
  box-shadow: 0 1px 0 0 #000;
}

body {
    background-color: #263238;
}

.play_link{
    display: none;
}
