{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class= "section">
      <a href="{{ url_for('display_customer') }}">Home</a>
    </div>
    <h2>Add Customer to Our Database</h2>
    <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <div class="divider"></div>
      <div class="section">
        <p>
          Company name:<br>
          {{ form.company(size=120) }}<br>
        </p>
        <p>
          Customer email:<br>
          {{ form.email(size=120) }}<br>
        </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <!-- Additional form fields for the Address should go here -->
      </div>
      <p><input type="submit" value="Create Customer"></p>
    </form>
  </div>
</div>
{% endblock %}
