{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1>Welcome to ACME Aircraft Parts</h1>
      <div class= "section">
        <a href="{{ url_for('create_customer') }}">Add a Customer</a>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h3>These are all of our awesome customers:</h3>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="company">Company</th>
              <th data-field="email">Email</th>
            </tr>
          </thead>
          {% for customer in customers %}
          <!-- {% for address in customer.addresses %}
          {% endfor %} -->
            <tr>
              <td>{{ customer.company }}</td>
              <td>{{ customer.email }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
